body {
    background-color: #F0F0F0;
    font-family: 'Abel', serif;
}

#small-nav {
    background-color: white;
    height: 60px;
    width: 100%;
    margin-top: 2em;
}

#logo-small>img {
    height: 105px;
    width: 105px;
    z-index: 1;
}

#nav-title-md {
    float: right;
    font-size: 30px;
}

#nav-title-sm {
    font-size: 30px;
}

.anton-font {
    font-family: 'Anton', sans-serif;
}

.circle {
    height: 105px;
    width: 105px;
    border: 8px white solid;
    border-radius: 50%;
    color: white;
}

.smaller-circles {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #00ABA9;
}


.red {
    background-color: #E6563B;
}

.orange {
    background-color: #DEA03D;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}



/*@include media-breakpoint-up(md) {*/
@media (min-width: 768px) {
    .logo-left-on-md {
        position: absolute;
        left: 30px;
    }

    .menu-right-on-md {
        float: right;
    }
}


.circle-padding {
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 992px) {
    #circles {
        width: 60%;
        margin: 0 auto;
    }
}

.project-image>img {
    width: 100%;
    border: 8px #E6E6E6 solid;
    border-radius: 5%;
}

.more-circles {
    float: right;
}

.float-left {
    float: left;
}

.smaller-circles {
    font-size: .6em;
    margin-left: 5px;
    margin-top: 3px;
}

.last-image-text {
    width: 200px;
    margin-left: 60px;
}

.last-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    float: left;
}